<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SASWeb</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>SASWeb.root</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:META-INF/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/META-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>3000</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>微信服务号servlet</description>
    <display-name>ServCoreServlet</display-name>
    <servlet-name>ServCoreServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.ServCoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCoreServlet</servlet-name>
    <url-pattern>/ServCoreServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>微信企业号servlet</description>
    <display-name>EntPopularizeServlet</display-name>
    <servlet-name>EntPopularizeServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.EntPopularizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntPopularizeServlet</servlet-name>
    <url-pattern>/EntPopularizeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntEvaluateServlet</display-name>
    <servlet-name>EntEvaluateServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.EntEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntEvaluateServlet</servlet-name>
    <url-pattern>/EntEvaluateServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntProductServlet</display-name>
    <servlet-name>EntProductServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.EntProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntProductServlet</servlet-name>
    <url-pattern>/EntProductServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>店端管理</description>
    <display-name>EntStoreServlet</display-name>
    <servlet-name>EntStoreServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.EntStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntStoreServlet</servlet-name>
    <url-pattern>/EntStoreServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>企业小助手</description>
    <display-name>EntHelperServlet</display-name>
    <servlet-name>EntHelperServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.EntHelperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntHelperServlet</servlet-name>
    <url-pattern>/EntHelperServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>有福同享</description>
    <display-name>EntShareServlet</display-name>
    <servlet-name>EntShareServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.EntShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntShareServlet</servlet-name>
    <url-pattern>/EntShareServlet.do</url-pattern>
  </servlet-mapping>  
  
  <servlet>  
    <description>InitServlet</description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>cn.ttsales.work.web.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet.do</url-pattern>
  </servlet-mapping>
  
  <mime-mapping>
    <extension>mp3</extension>
    <mime-type>audio/mpeg</mime-type>
  </mime-mapping>
</web-app>